{%  extends "layout.html" %}

{%  block title %}
    Cricket!
{%  endblock %}

{% block header %}
    <p style="padding: 8%"></p>
    <h1>Enter the name of a cricket player:</h1>
{% endblock %}

{%  block bodytext %}
    <form action="/" method="post">
    <div>
        <input name="name" type="text" placeholder="Player Name">
    </div>
    <div style="margin-top: 0.5%">
        <p>What do you want to analyse?
            <select name="batorbowl">
                <option>Batting</option>
                <option>Bowling</option>
                <option>Both</option>
            </select>
        </p>
        <p>Which format do you want to analyse?
            <select name="TestorODI">
                <option>Test</option>
                <option>ODI</option>
            </select>
        </p>
        <input name="submit" type="submit" value="Analyse!">
    </div>
    </form>
{%  endblock %}